<% provide :title, @post.title %>
<div class="row">
	<div class="col-md-10 col-md-offset-1" id="posts-container">
		<div class="post-preview" id="<%= @post.id %>">
			<% if @post.image_url? %>
				<div class="post-image-container col-md-12 no-padding">
					<%= image_tag @post.image_url, alt: @post.title %>
				</div>
			<% end %>
			<% if @post.youtube_url? %>
				<div class="post-image-container col-md-12 col-md-offset-2 no-padding">
					<%= youtube_embed(@post.youtube_url) %>
				</div>
			<% end %>
			<div class="post-content-container col-md-8 col-md-offset-2">	
				<h3><%= @post.title %></h3>
				<p class="date-created"><%= @post.created_at.strftime('%B %d, %Y') %></p>
				<div class="writing-container">
					<p><%= raw(simple_format(@post.content)) %></p>
					<% if @post.soundcloud_id %>
						<%= soundcloud_embed(@post.soundcloud_id) %>
					<% end %>
				</div>
			</div>
			<div class="share-buttons col-md-1 col-md-offset-9">
				<div class="share-button">
					<%= render_shareable :buttons => ['twitter'] %>
				</div>
				<div class="share-button">
					<%= render_shareable :buttons => ['facebook'] %>
				</div>
				<div class="share-button">
					<%= render_shareable :buttons => ['tumblr'] %>
				</div>
			</div>
		</div>
	</div>
</div>

